# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
build/
*.log

# Env files
.env
**/.env
**/.env.local

# OS/Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
